footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-extralightgray;
    padding: 35px;

    .socialmedia {
        margin-bottom: 25px;
        a {
            font-size: 25px;
            color: $color-dark;
            text-decoration: none;
            margin-left: 10px;
            margin-right: 10px;

            &:hover {
                color: $color-theme;
                text-decoration: none;
                transition: 0.15s ease-in-out;
            }
        }
    }
}